@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.foot{
    max-width: 1200px;
    background-color: #fff200;
    margin: auto;
    margin-top: 10%;
    height: 105px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 15%;
    padding: 0 0px;
    
}
.footer-col h4{
    font-size: 12px;
    color: black;
    text-transform: capitalize;
    padding-left: 100%;
    padding-right: 0%;
    padding-top: 25%;
    padding-bottom: 35%;
    position: relative ;
    font-weight: 500;
    display: block;
}

.footer{
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    
}



/* logo zurag */

.logo1{
    margin-left: -12%;
    padding-right: 0%;
    margin-top: 0%;
    float: left;
}
.logo1 img {
    width: 105px;
    height: 105px;
    margin-right: 20px;
    z-index: 1;
    position: absolute;
}

/*
AAgii suul heseg Utas hayg
*/
.footerinfo{
    margin-top: 10px;

}
.footerinfo1 p{
    font-family: "futura-pt",sans-serif;
    font-weight: 300;
    font-size: 9px;
    padding: 58px 0px 0px 0px;
    font-weight: bolder;
    color: #333;
}
.footerinfo2 p{
    font-family: "futura-pt",sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
    margin: 0 0 10px;
    text-align: left;
    color: #333;

}

.footerinfo3 p {
    font-family: "futura-pt",sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding-left: 15px;
    color:#333;
    text-align: left;
}

.logo-footer img {
    height: 125px;
    width: auto;
}
.footerinfo3 p a{
    color: #333;
    text-decoration: none;
    
}
.footerinfo3 a:hover {
    color: yellow;
    text-decoration: none;
}