@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-logo img {
    width: 105px;
    height: 105px;   
    z-index: 1;
    position: relative;
}
.footer-logo {
    padding-top: 0%;
    justify-content: right;
    margin-left: 10%;
    margin-top: -10%;
}
.footer-nav
{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    margin-top: -10%;
    margin-right: -20%;
}
.footer-nav ul li{
    float: left;
    background-color: #fff200;
    color: black;
    height: 100px;
    line-height: 50px;
    width: 160px;
    list-style: none;
    font-size: 14px;
    font-family: "futura-pt",sans-serif;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    padding-top: 2%;
    position: relative;
}
/* logo zurag */
.logo1{
    margin-left: -12%;
    padding-right: 0%;
    margin-top: 0%;
    float: left;
}
.logo1 img {
    width: 105px;
    height: 105px;
    margin-right: 20px;
    z-index: 1;
    position: absolute;
}
/*
AAgii suul heseg Utas hayg
*/
.bs-contact{
    margin-top: 0%;
}
.footerinfo{
    margin-top: 10px;
}
.footerinfo1 p{
    font-family: "futura-pt",sans-serif;
    font-weight: 300;
    font-size: 9px;
    padding: 58px 0px 0px 0px;
    font-weight: bolder;
    color: #333;
}
.footerinfo2 p{
    font-family: "futura-pt",sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
    margin: 0 0 10px;
    text-align: left;
    color: #333;
}
.footerinfo3 p {
    font-family: "futura-pt",sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding-left: 15px;
    color:#333;
    text-align: left;
}
.logo-footer img {
    height: 125px;
    width: auto;
}
.footerinfo3 p a{
    color: #333;
    text-decoration: none;  
}
.footerinfo3 a:hover {
    color: yellow;
    text-decoration: none;
}